html,
body { height: 100%; padding: 0; margin: 0; background: #e3ebef;}
ul,li{
	text-decoration: none;
	list-style-type: none;
	margin: 0px;padding:0px;
}
input,button{
	border: none;
	outline: none;
}
.main {height: 100%;width: 100%; box-sizing: border-box ;position: relative;padding: 0;}
.main-top {
	height: 50px; width: 100%;
	position: fixed;
	background: #313131;
	float: right;
	color: #fff;
	line-height: 50px;
	font-size: 12px;
	z-index: 1;
    margin: 0;
}
.main-top span{
	position: relative;left: 270px;
}
.main-top span a{
	color: #cbd1d4;
	text-decoration: none;
}
.main-top span a:hover{
	color: #fff;
}
.main-left {
	height: 100%; width: 260px;
	background: #313131;
	float: left;
	position: fixed;
	z-index: 2;
}
.logo{
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	margin-top: -20px;
	color: #fff;
}
.main-left-nav {
	margin: 20px 0;
	padding: 0;
}
.main-left-nav li{
	line-height: 50px;
	text-align: center;
	background-repeat: no-repeat;background-position: 230px 20px;
}
.main-left-nav li:hover{
	background-color: #2f96b4;
}
.main-left-nav li a{
	text-decoration: none;
	color: #e7eef5;
	display: block;
}
.main-left-nav li a img{
	position: relative;top: 4px;
}
.main-left-nav li:hover > .second-nav
{
	display: inline;
}
.main-left-nav li:hover > .second-nav li{background-color: #333333}
.second-nav{display: none;}
.second-nav li{height: 30px; background-image: url("../image/图标/1225491.png");background-position: 110px 10px;background-repeat: no-repeat;}
.second-nav li a{height:100%;display: block;padding: 0 0 0 50px;margin: 0;line-height: 30px;}
.second-nav li a:hover{color: #ebebeb;background-color: #2f96b4}
.second-nav li a img{position: relative;top: 2px;}

.main-content{
	width: 1100px;
	background: #fff;
	position: relative;left: 400px;top: 70px;
}

.main-right{
	width: 320px;height: 400px;
	background: #fafcfd;
	position: fixed;top: 70px;right: 40px;
	background-image: url("../image/box_right (2).jpg");
	background-repeat:no-repeat;
	border-radius: 14px;
}

.main-content-nav{
	height: 30px;
	border-bottom: 1px solid #d3e2e8;
	margin-left: 80px;
	margin-right: 80px;
}
.content-nav{
	position: absolute;
	left: 100px;


}
.content-nav li{
	float: left;
	line-height: 30px;
	padding: 0px 15px;
	margin-right: 20px;
}
.content-nav li:hover{
	/*background: #2f96b4;*/
	border-bottom:2px solid #2f96b4;
}
/*.content-nav li:hover a{*/
/*	color: #fff;*/
/*}*/
.content-nav li a{
	text-decoration: none;
	color: #586362;
	text-align: center;
}
.content-display{
	margin-left: 115px;
	margin-right: 115px;
	padding: 20px 0 50px 0;
}

.manage_button{
	font-size:12px;float: right;position: relative;bottom: 28px;
}
.manage_button a{
	text-decoration: none;
}
.box_content{
	height:90px;
	border-bottom: 1px solid #e2e0e0;
}

.box_content a{
	text-decoration: none;color: #5d5d5d;
}
.box_content a:hover{color: #4e7cc2;}

.box_content_list{
	position: relative;
	width: 100%;
}
.button{
	border-radius: 6px;
	border: none;
	color: white;
	padding: 6px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;     /*获取鼠标焦点*/
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;/*添加按钮hover*/
}
.button_cateadd{background-color:#0d96dc;}
.button_cateadd:hover{background-color: #084f73; }
.button_cate{border: 1px solid #72a9c5;background-color:#fff;position: relative;left:810px;top:-30px;}
.button_cate:hover{background-color:#72a9c5;}
.button_cate:hover .cateadd{color:#fff;}
.button_search{background-color:#2f96b4;position: relative;left: -36px;top: 1px;padding: 4px 6px;font-size: 12px;}
.button_search:hover{background-color: #404040;}
.search_content{height: 20px;width:240px;border-radius: 6px;}
.cateadd{text-decoration: none;color: #72a9c5;}
.span{color:#757575;font-size: 12px;position: relative;top: 18px;}
.avatar{width: 100px;height: 100px;border-radius: 100px;position: relative;top: 70px;left: 110.5px; background-image: url("../image/avatar2.jpg");}
.user{position: relative;top: 80px;left: 50px;font-size: 12px;text-align:center}
.user span{position: relative;bottom: 20px;}
.comment{width: 100%;padding: 20px;}
.comment textarea{width:870px;height: 100px;border: 1px solid #ddd;border-radius: 6px;}
.comment button{margin:10px 0 0 0 ;padding: 6px 6px;background-color: #7da4b3;border-radius: 4px;color: #fff;float: right}
.comment_content{height: 20px;}
