@charset "utf-8";
body{
	color: rgba(0,0,0,.75);
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #dfe7ea;
	line-height: 1.5em;
    font: 15px Arial, Helvetica, sans-serif;
}
ul,li{
	text-decoration: none;
	list-style-type: none;
}
input,button{
	border: none;
	outline: none;
}
/*字体样式*/
.font01 a{
	color: rgba(0,0,0,.75);
    font-size: 16px;
    font-family: Lato,Helvetica Neue,Helvetica,sans-serif;
    font-variant-ligatures: common-ligatures;
    line-height: 1.67;
    -webkit-font-smoothing: antialiased;
}
/*导航栏*/
.mainnav {
	text-align:center;
	height: 62px;
	width:auto;
	color: #000000;
	background-color:#fff;
}
/* Menu Styles */

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -100px;
    width: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 32px;
    background: #fff;
}
.third-level-menu > li a { color: #dddddd; }
.third-level-menu > li:hover { background-color: #cbd1d4; }

.second-level-menu
{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}
.second-level-menu > li
{
    position: relative;
    height: 32px;
    background: #fff;
}
.second-level-menu > li a
{
	color: #000;
    line-height: 32px;
}
.second-level-menu > li:hover { background-color: #cbd1d4; }
.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 52px;
    width: 100px;
    background: #fff;
}
.top-level-menu > li:hover 
{ 
	border-top: 2px solid #cbd1d4;
	height: 50px; 
}
.top-level-menu li:hover > ul
{
    display: inline;
}
.top-level-menu a
{
    color: #000;
    text-decoration: none;
    padding: 0px;
    display: block;
    line-height: 62px;
}
/*搜索框*/
.search {
	height: 25px;
	float: right;
	border: 1px solid #DDDDDD;
	border-radius: 25px;
	margin: 20px 40px 0px 0px;
}
.search input{
	height: 15px;
	margin:0px 0px 0px 5px;
}
.search input:focus{
	width: 180px;
}
.search button{
	width: 42px;
	height: 25px;
	border-radius: 25px;
}
.search button:hover{
	color: #fff;
	background-color: #3a5770;
}
/*主体部分*/
.box{
	color: #000;
	width:1000px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;
	background-color: #fff;
}
.box_footer{
	height: 60px;
	width: 140px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
.box_footer > ul {
	float: left;
	display: block;
	padding: 0px;
}
.box_footer > ul > li{
	width: 30px;
	height: 30px;
	float: left;
	font-size: 16px;
	position: relative;
	border: 1px solid #cecbcb;
	border-radius: 10px;
	margin-left: 10px;
}
.box_footer > ul > li > a {
	color: #000;
	text-decoration: none;
	line-height: 30px;

}
.box_footer > ul > li:hover {
	background-color: #3a5770;
}
.box_footer > ul > li:hover a{
	color: #fff;
}
.box_head{
	width:1000px;
	height:450px;
	background-image:url(../image/boxbackgroud4.jpg);
}
.box_head_title{
	color: #fff;
	position: relative;
	top: 25%;
	width: 440px;
	height: 119px;
	margin:auto;
}
.box_head_title span{
	margin:auto;
	display: block;
	color: #dedede;
}
.box_head_title h1{
	margin:auto;
	width: 162px;
}
.box_head_title a{
	font-size: 50px;
	text-decoration: none;
	list-style-type: none;
	color: #fff;
	line-height: 100px;
	width: 66px;
}
.box_content{
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
	padding-bottom: 10px;
	width:960px;
	height:120px;
	border-bottom: 1px solid #e2e0e0;
}
.box_content > h3{
	margin-bottom: 0px;
}
.box_content > h3 >a{
	text-decoration: none;
}
.box_content > h5 {
	margin-top: 5px;
	padding: 0px;
}
.box_content > h5 >a{
	color: #ccc9c9;
}
.box_content > h5 >a:hover{
	color: #3a5770;
}
.box_content > p{
	margin: 0px;
	padding: 0px;
}
.box_content_list{
	position: relative;
	width: 100%;
}
.archives{
	padding-top: 20px;
	padding-bottom: 60px;
	margin-right: auto;
	margin-left: auto;
	width:940px;
	color: rgba(0,0,0,.75);
    font-size: 16px;
    font-family: Lato,Helvetica Neue,Helvetica,sans-serif;
    font-variant-ligatures: common-ligatures;
    line-height: 1.67;
    -webkit-font-smoothing: antialiased;
}
.archives >h2{
	text-align: center;
}
.archives pre{
	padding-left: 10px;
	width:940px; 
	overflow:auto; 
	border-left:10px solid #97bad8;
	border-top: 1px solid #e2e0e0;
	border-right: 1px solid #e2e0e0;
	border-bottom: 1px solid #e2e0e0;
}
.archives >a{
	text-decoration: none;
	color: #7da4b3;
}